.banner {
    background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg") 50%;
    // height: 50vh;
    position: relative;
}

.banner__search {
    display: flex;
    flex-direction: column;

    .banner__searchButton {
        background-color: white !important;
        font-weight: 900 !important;
        text-transform: inherit !important;
        color: #ff7779 !important;
    }
}

.banner__info {
    background-color: black;
    color: white;
    padding: 16vh 50px 40px 50px;
    width: 400px;

    button {
        background-color: #ff7779;
        color: white;
        text-transform: inherit;
        margin-top: 20px;
        font-weight: 600;

        &:hover {
            background-color: white;
            color: #ff7779;
        }
    }

    h5 {
        margin-top: 10px;
    }
}