.home__section {
    display: flex;
    padding: 30px;

    @media screen and (max-width: $bp-medium1) {
        flex-direction: column;
    }
}

.home__nearby {
    padding: 0 80px;
    margin-top: 60px;
    
    > h1 {
        padding-bottom: 16px;
    }
}