.search {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 100vw;
    overflow-y: scroll;
    z-index: 300;

    @media screen and (max-width: $bp-medium1) {
        left: 5%;
    }

    > h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 559px;
        padding: 10px;
        background-color: white;
        position: absolute;
        left: 0;
        top: 347px;
    }

    .search__people {
        width: 539px;
        padding: 20px;
        position: absolute;
        left: 0;
        height: 30px;
        top: 395px;
        border: none;

        &:focus {
            outline: none;
        }
    }
    
    > button {
        position: absolute;
        left: 0;
        top: 434px;
        text-transform: inherit !important;
        background-color: #ff7779;
        color: white;
        width: 559px;

        &:hover {
            background-color: white;
            color: #ff7779;
        }
    }
}